@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.globe-animation {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.video-container {
    display: flex;
    justify-content: center;
}
